* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

header h3 {
  flex: 3;
  font-size: 2rem;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
}

header nav a {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}
